@import "tailwindcss";

@theme {
  /* Настраиваем цвета Barva Dark через переменные */
  --color-barva-bg: #1e1e1e;
  --color-barva-card: #252526;
  --color-barva-text: #d4d4d4;
  --color-barva-accent: #ce9178;
  --color-barva-blue: #569cd6;
  --color-barva-green: #6a9955;
  --color-barva-purple: #c586c0;
}

/* Базовые стили для всей страницы */
body {
  background-color: var(--color-barva-bg);
  color: var(--color-barva-text);
}